<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Інформація про ваш акаунт</h1>

Email - <b>{{this.user.email}}</b>
Nickname - <b>{{this.user.nickname}}</b>
Password - <b>{{this.user.password}}</b>

<h2>Перейти на сторінку <a href="/users">юзерів</a></h2>

</body>
</html>
